@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.background {
  /* Background Gradient */
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff8080,
    #00ff00,
    #80ff80,
    #0000ff,
    #8080ff
  );

  /* Background Image */
  background-image: url('./assets/background/BG.png'); /* Replace 'your-image-url.jpg' with your image URL */
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire screen */
  background-position: center bottom; /* Position at the center of the horizontal axis and the bottom of the vertical axis */
  
  color: brown;
  font-family: "Press Start 2P", "VT323";
  background-size: 100% 100%;
  animation: gradientAnimation 15s ease infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
  height: 103vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cancel-button {
  position: absolute;
  margin-top: -40px;
  right: -40px;
  font-size: 20px;
  padding: 10px 10px;
  background-color: #ff5252;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #ff3333;
  }
}
.cancel-button :hover {
  color: #ff3333;
}

.deposit-button {
  position: absolute;
  margin-top: 140px;
  right: -40px;
  font-size: 20px;
  padding: 10px 10px;
  background-color: #ff5252;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s ease;
  
  @media (max-width: 1050px) {
    margin-top: 150px; /* Adjust as needed for smaller screens */
  }
  @media (max-width: 875px) {
    margin-top: 200px; /* Adjust as needed for smaller screens */
  }
  @media (max-width: 700px) {
    margin-top: 240px; /* Adjust as needed for smaller screens */
  }
  
  &:hover {
    background-color: #ff3333;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Adjust button styles as needed */

* {
  box-sizing: border-box;
}

.overlay {
  opacity: 1;
  width: 70%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}




.button-container {
  position: absolute;
  right: 25px;
  top: 25px;
}

.logo-container {
  transform: scale(0.85);
  position: absolute;
  left: 5vw;
  top: 5vh;
  transition: top 0.2s ease;
}

@media (max-width: 768px) {
  .logo-container img {
    width: 10vw;
    height: 10vh;
  }
}


.my-input-style {
  text-align: center;
  font-size: 20px;
}

input[type="number"] {
  appearance: textfield;
}
.OpenSeaLogoContainer {
  position: absolute;
  top: 30px; /* Adjust the vertical position as needed */
  left: var(--open-sea-left); /* Reference the custom property */
  cursor: pointer;

  /* Rest of your styling */
}
